python-telegram-bot>=20.8
aiohttp
numpy
pandas
python-dotenv==1.0.1
scipy
pyyaml==6.0.1
httpx~=0.26.0
tenacity==8.2.3
feedparser==6.0.11
beautifulsoup4==4.12.3
python-dateutil==2.9.0.post0
flask==2.3.3
notion-client==2.7.0
pydantic
